---
---

@import
    "minima" ;

 /**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
    border-radius: 50%;
  }

.test {
  float:right;
  padding-left: 50px;
}

.footer-col-2-float{
  float:right;
}

